@import 'https://fonts.googleapis.com/css?family=Lobster';

/* General Styles Page */

body {
  font-weight: 150px;
  letter-spacing: 1px;
}

h3, .brand-logo, h5 {
    font-family: 'Lobster', cursive;
}

.card-title.activator {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 10px 0 0;
}

/* Results */

.chip, footer.page-footer {
   background-color: #ff6e27;
}

/* New Listing */

#content {
    margin-top: 20px;
}

.row.header {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    z-index: 1;
    width: 100%;
}

.row.header > .col.s2 {
    padding-top: 10px;
}

.listing-header {
  background-image: url('../images/room.png');
  width: 100%;
  height: 380px;
}

.brand-img {
    width: 100px;
    height: 100%;
}

.keen {
    font-weight: bold;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color: rgba(0, 0, 0, 0.8);
}

#luxury {
    font-weight: normal;
    font-size: 22px;
    font-style: italic;
    font-family: 'Lobster', cursive;
    color: rgba(0, 0, 0, 0.6);
}


.dropdown {
  background-color: rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 15px;
  border-radius: 10px;
}

#roommates {
  font-weight: 600;
  font-size: 20px;
}

#listing-button {
    display: block;
    background-color: #ff6e27;
    font-weight: 600;
    border-radius: 10px;
    margin: auto;
    padding: 10px 0px 10px 0px;
    font-family: 'Lobster', cursive;
}

.intro {
  font-family: 'Lobster', cursive;
  font-weight: 300;
  font-size: 24px;
}
